.top__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

nav ul {
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    padding: 10px;
}

aside ul{
    padding: 0;
    text-align: center;
}

aside li {
    display: block;
}

h1 {
    text-align: center;
}

main, footer, aside, .wa__checker, .w3s__validator {
    max-width: 1200px;
    margin: 30px auto;
}

a {
   color:blue;
   background-color: none;
}

